<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>base02 depuis vue</title>
</head>
<body>
<h1>Ceci est notre premier template Twig</h1>
<h3>Nous avons passé une variable dans un tableau à cette vue depuis base02.php</h3>
<p>['name' => 'Michaël'] donc on peut l'afficher en twig en utilisant { { name } } (collés)</p>
<p>{{ name }}</p>
<h4>Fonctionne car on a trouvé la clef au format texte ou numérique qui peut être affichée</h4>
<p>{{ montab.Deums }}</p>
<h4>On va utiliser for et endfor pour faire une boucle foreach sur montab.Prems</h4>
<p>
{% for item in montab.Prems %}
    {{ item }}<br>
{% endfor %}
</p>
<h3>&#123;&#123; &#125;&#125;</h3>
<p>Affichage, équivaut a un echo "ce qu'il y a entre les accolades"</p>
<h3>&#123;&#37;  &#37;&#125;</h3>
<p>Ici se seront nos actions (conditions, boucles, créations de variables, importations, autres fonctions)</p>
<h3>Pour créer une variable dans twig, on utilise set</h3>
<p>&#123;&#37; set lulu = 45 &#37;&#125;</p>
<p>{% set lulu = 45 %}</p>
<p>{{ lulu }}</p>
<h3>Exemple d'une boucle for de 1 à 10</h3>
<p>{% for i in 1..lulu %}
        {{ i }} -
    {% endfor %}
</p>
</body>
</html>